---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 90%;
}

section {
  max-width: 90%;
}

strong {
  color: white;
  background: linear-gradient(#93bd20, #659e10);
}

#header {
  display: none;
}